span {
    font-size: 12px;
    transition: color 5s ease-in-out;
}
span:hover {
    color: #003F7F;
    transition: color 1s ease-in-out;
}
body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    background-color: #0070C0; /* Fond bleu */
    color: white; /* Texte blanc */
    overflow-x: hidden; /* Empêche le défilement horizontal */
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 690px;
    margin: auto;
}
.header h2 {
    margin: 0;
    flex: 1;
}
.header .logo {
    max-width: 50px; /* Taille maximale du logo */
    height: auto;
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.calendar { 
    background-image: url('usine.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; /* 90% de la largeur du viewport */
    margin: auto; /* Centré horizontalement */
    overflow-y: scroll; 
    height: 100vh; 
    direction: rtl; 
    position: relative; 
    scrollbar-width: none; 
    background-color: white; /* Fond blanc pour le tableau */

}
.calendar::-webkit-scrollbar { 
    display: none; 
}
table {
    margin: auto;
    width: 90%;
    max-width: 690px;
    border-collapse: collapse; 
    direction: ltr; 
    background-color: white; /* Fond blanc pour le tableau */
}
td { 
    padding: 5px;
    font-size: 14px;
    text-align: left; 
    white-space: nowrap; 
    color: black; 
    transition: color 0.5s ease; /* Transition pour le changement de couleur */
}
.date-cell { 
    text-align: right; 

}
.extra-cell { 
    text-align: center; 
}
.today { 
    font-weight: bold;
    background-color: greenyellow; /* Fond vert pour la date du jour */
}
.weekend { 
    background-color: #f0f0f0; 
}
.center-row td {
    text-decoration: underline;
    transition: text-decoration 1s ease; /* Transition pour le soulignement */
    color: #003F7F; /* Couleur du texte pour la ligne centrale */
}
.btn-today, .btn-go { 
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 14px; 
    cursor: pointer; 
    background-color: #00509E; /* Couleur de fond des boutons */
    border: none; 
    border-radius: 5px; /* Bords arrondis */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition pour le changement de couleur */
}
.btn-today:hover, .btn-go:hover { 
    background-color: #003F7F; /* Couleur de fond au survol */
}
.btn-today { 
    color: greenyellow; /* Couleur du texte des boutons */
    margin: 10px 20px 10px 10px; /* Ajout de l'espace de 20px */
}
.btn-today:hover {
    color: white;
}
.btn-go { 
    color: white;
    margin-left: 5px; /* Ajout de l'espace de 5px */
}
.btn-go:hover {
    color : greenyellow;
}
.date-input { 
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 14px; 
    background-color: #00509E; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; 
    border-radius: 5px; /* Bords arrondis */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition pour le changement de couleur */
}
.date-input:focus { 
    background-color: #003F7F; /* Couleur de fond au focus */
    color: greenyellow; /* Couleur du texte au focus */
    outline: none; /* Supprime le contour par défaut */
}
.fade-top, .fade-bottom { 
    opacity: 0.2; 
    transition: opacity 1s ease; 
}
.fade-top-less, .fade-bottom-less { 
    opacity: 1; 
    transition: opacity 0.5s ease; 
}
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.modal {
    display: none; /* Masqué par défaut */
    position: fixed; /* Reste en place même lors du défilement */
    z-index: 1000; /* Au-dessus de tout autre contenu */
    left: 0;
    top: 0;
    width: 100%; /* Pleine largeur */
    height: 100%; /* Pleine hauteur */
    overflow: hidden; /* Masque le défilement */
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir avec opacité */
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; /* Fond noir */
    color: white; /* Texte blanc */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}